/********************************************************/
/*                 Page background                      */
/********************************************************/
body, .content {
	@font-face { font-family: Perfograma; src: url('../fonts/Perfograma_1.otf'); }
	@font-face { font-family: Cocon; src: url('../fonts/CoconPro-Regular_1.otf'); }
	background: #fff;
	color:#333;
}


/********************************************************/
/*                     Typography                       */
/********************************************************/
h1, h2, h3, h4, h5, h6 {
	font-family: "Open sans", Helvetica, Arial;
	font-weight: 300;
}

p, .jumbotron p {
	font-size: 15px;
	line-height: 1.6em;
}

/********************************************************/
/*                        Header                        */
/********************************************************/

.header h1 {
	font-family: "Open sans", Arial;
	font-size: 40px;
	font-weight: bold;
	margin: 35px 0 10px 0;
	text-align: center;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
	color:#F6EFDD;
}
.header h2 {
	color: rgba(255,255,255,.9);
	font-family: Georgia;
	font-size: 17px;
	font-weight: normal;
	margin: 0 0 25px 0;
	text-align: center;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}
.header p { font-size: 15px; line-height: 1.2em;}
.header .lead {
	font-family: "Open sans", Arial;
	color: rgba(255,255,255,.9);
	line-height: 1.2em;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}
.header .small {
	font-size: 0.9em;
	line-height: 1.2em;
	text-align: center;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}
.header .text-muted { color:white; opacity: 0.5; }


/********************************************************/
/*                       Content                        */
/********************************************************/

.content {
	position: relative;
	z-index: 999;
	margin-bottom:40px;
}

.jumbotron {
	background:#f5f5f5;
}

.content .lead { font-family: Georgia; font-style: italic; color:#999; }

.space-before { padding-top:20px; }
.space-after { padding-bottom:20px; }

.img-feature {
	/*border:15px solid #f5f5f5;*/
	margin:0 auto;
	/*-webkit-border-radius: 50% ;
	-moz-border-radius: 50% ;
	border-radius: 50%;*/
	padding:1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/********************************************************/
/*                   Responsiveness                     */
/********************************************************/

@media (max-width: 767px) {
	h1, h2, h3, h4 { text-align: center;}
}

@media (min-width: 482px) {
	.header h1 { font-size: 55px; }
	.header h2 { font-size: 30px; }
	.header p { font-size: 15px; }

}
@media (min-width: 768px) {
	.header h1 { font-size: 55px; }
	.header h2 { font-size: 20px; }
	.header p { font-size: 15px; }
	.header .lead { font-size:22px; }

}
@media (min-width: 992px) {

	.header h1 { font-size: 55px; margin-top: 50px; }
	.header h2 { margin-bottom: 40px;}
	.header p { font-size: 15px; }

	.space-before { padding-top:40px; }
	.space-after { padding-bottom:40px; }
}


/********************************************************/
/*                     Color themes                     */
/********************************************************/


/********************/
/*       Cyan       */
/********************/

/* Remove this line to activate

.header {
	background: #005363 url(../images/header.jpg) bottom center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	color: white;
}
.header h1 { color:white; }

h1, h2, h3, h4, h5, h6 { color: #00b0b0; }
a{ color: #00b0b0; }
a:hover, a:focus { color: #007777; }
a:visited { color: #5A8B86; }

/**/


/********************/
/*      PINK        */
/********************/

.header {
	background: #e5007d;
	background: -moz-linear-gradient(top,  #e5007d 0%, #03124A 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5007d), color-stop(100%,#03124A));
	background: -webkit-linear-gradient(top,  #e5007d 0%,#03124A 100%);
	background: -o-linear-gradient(top,  #e5007d 0%,#03124A 100%);
	background: -ms-linear-gradient(top,  #e5007d 0%,#03124A 100%);
	background: linear-gradient(to bottom,  #e5007d 0%,#03124A 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5007d', endColorstr='#03124A',GradientType=0 );
	/*background: url(../images/screen2.png) top center;*/
	background-repeat: no-repeat;
}

.header h1 { color:white; font-family: Perfograma; }

h1, h2, h3, h4, h5, h6 {
	color: #e5007d;
	font-family: "Open sans";
}

a{ color: #e5007d; }
a:hover, a:focus { color: #2d2d82; }
a:visited { color: #877680; }

/**/

.main-logo {
	width: 300px;
}

.partners {
	background-color: white;
	width: 100%;
}

.partners div {
	text-align: center;
}

img.partner {
	max-width: 100%;
	max-height: 60px;
	margin: auto;
	padding: 6px;
}

.references {
	background-color: #03124A;
	color: white;
}

.references h2 {
	color: white;
}

.btn-primary {
	width: 100%;
	background-color: #e5007d;
	color: white;
	border-color: #e5007d;
}

.btn-primary:hover {
	background-color: #a3156a;
	border-color: #a3156a;
}

.menu a {
	color: white;
}

.menu {
	color: #e5007d;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.image-strip {
	background: url(../images/2.jpg) bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 90px;
	width: 100%;
}

header {
	height: 100vh;
}

/*INDEX PAGE */

header.header-index {
	background: url(../images/screen2.png) top center;
	background-size: cover;
	height: 100%;
}

html, body{
    height: 100%;
		width: 100%;
}

.continue-here button {
	font-size: 2rem;
	font-family: "Open sans";
}

.side-logo {
	width: 100%;
}

.btn-nahoru {
	margin: auto;
	display: block;
	background-color: #e5007d;
	color: white;
	border-color: #e5007d;
}

.btn-nahoru:hover {
	background-color: #e5007d;
	color: white;
	border-color: #e5007d;
}

.odkaz-nahoru a:hover, .odkaz-nahoru a:visited, .odkaz-nahoru a:active {
	text-decoration: none;
	color: white;
}


@media (min-width: 992px) {
	table td {
		min-width: 200px;
	}

	.container ul li {
		font-size: 15px;
	}
}
